server:
  port: 8082
  servlet:
    context-path: /api/billing

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
feign:
  httpclient:
    enabled: false
  okhttp:
    enabled: true
spring:
  application:
    name: billing-service

  datasource:
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver
    url: jdbc:sqlserver://localhost:1433;databaseName=BILLING;encrypt=false;trustServerCertificate=true
    username: admin
    password: 1
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update

  batch:
    job:
      enabled: false
    jdbc:
      initialize-schema: always
  data:
    rest:
      detection-strategy: annotated
      base-path: /v0

logging:
  level:
    '[com.school.billing.clients]': DEBUG
    feign: DEBUG


#---------------------------------------Configuration---------------------------------------------------------
batchjob:
  billing-proccessing: billproc


  